.container-fluid{
   
    background-image: "url(${process.env.PUBLIC_URL+ "/tvl"})";
   
}
.navbar{
    background-color: white;
    font-family: serif,"sans-serif";
    text-decoration-color: #4ddbff;
}